@mixin ys-button-size($padding-h,$padding-w,$font-size,$line-height,$border-radius){
  padding: $padding-h $padding-w;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
@mixin ys-button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}
