.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
.fade-choose-enter-active, .fade-choose-leave-active {
  transition: opacity .2s;
}
.fade-choose-leave, .fade-choose-leave-active {
  display: none;
}
.fade-choose-enter, .fade-choose-leave-active {
  opacity: 0;
}
.router-slid-enter-active, .router-slid-leave-active {
  transition: all .2s;
}
.router-slid-enter, .router-slid-leave-active {
  transform: translateX(100%);
}
.toggle-cart-enter-active, .toggle-cart-leave-active {
  transition: all .1s ease-out;
}
.toggle-cart-enter, .toggle-cart-leave-active {
  transform: translateY(100%);
}
