/*font*/
$black:      #000;
$white:      #fff;
$dark-gray:  #333;
$gray:       #666;
$light-gray: #999;
/*color*/
$blue:       #5fb6d7;
$green:      #41b15d;
$orange:     #f39700;
$yellow:     #ffbf00;
$red:        #e54044;
$silver:     #b7becb;
$gray-blue:  #646d88;
$gray-white: #fff6f3;
$light-white:#f2f2f2;
/*bg-color*/
$bg:#f8f8f8;
